* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main-header {
    width: 100%;
    height: 12vh;
    padding: 0 10vw;
    background-color: #e50914;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 1s;
    z-index: 99;
    top: 0;
}

.header-icon {
    width: 6%;
    border-radius: 30px;
    user-select: none;
}

.main-header>nav {
    display: flex;
    column-gap: 1vw;
}

.main-header>nav>a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    padding: 1vh 1vw;
    border-radius: 25px;
    transition: 0.2s;
    color: white;
}

.main-header>nav>a:hover {
    text-decoration: underline;
}

main {
    margin-top: 12vh;
}

main>.search {
    width: 100%;
    height: 88vh;
    background-color: #2f2f2f;
    background-image: url(../imgs/main-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.search-second-bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0.6vw;
    background: linear-gradient(to right bottom,
            transparent 70%,
            #f1f2f375);
    backdrop-filter: blur(2px);
    padding: 4vh 10vw 6vh;

}

main>.search>div>form>input {
    width: 20vw;
    height: 5vh;
    padding: 4%;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    outline: none;
    border-radius: 8px;
    border: solid 1px;
    overflow: visible;
}

main>.search>div>form>input::-webkit-search-cancel-button {
    color: #e50914;
}

main>.search>div>form>button {
    padding: 0 2vw;
    height: 5vh;
    background-color: #2f2f2f;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
}

main>.search>div>.search-card-wrapper {
    width: 99%;
    height: 78vh;
    position: absolute;
    top: 38vh;
    background-color: #2f2f2f;
    border-radius: 50px;
    background: linear-gradient(to top, transparent 1%, #2f2f2f 50%);
    border: solid 1px #f1f2f3;
    border-bottom: none;
    display: none;
    box-shadow: none;
}

main>.search>div>.search-zone {
    display: flex;
    animation: searchZone 0.5s ease;
}

@keyframes searchZone {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main>.search>div>.card-wrapper>.card {
    background-color: #f1f2f3;
}

main>.search>div>.card-wrapper>.card>header>p {
    color: #2f2f2f;
}

main>.search>div>form>button:active {
    scale: 0.9;
}

.cards-container {
    padding: 4vh 10vw 6vh;
    border-bottom: solid 1px #2f2f2f;
    scroll-margin-top: 18vh;
}

.cards-container>header>h1 {
    letter-spacing: 0.4vw;
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
    user-select: none;
    color: #2f2f2f;
}

.cards-container>header>p {
    width: 15vw;
    margin-top: 1vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #525252;
}

.best {
    background: linear-gradient(to bottom, #f1f2f3 10%, #2f2f2f 90%);
}

.popular {
    background: linear-gradient(to top, #f1f2f3 10%, #2f2f2f 90%);
    border-top: solid 1px #f1f2f3;
}

.new {
    background: linear-gradient(to bottom, #f1f2f3 50%, #e50914);
    border-top: solid 1px #f1f2f3;
}

.popular>header>h1 {
    color: #f1f2f3;
}

.popular>header>p {
    color: white;
}


footer {
    padding: 5vh 10vw;
    background-color: black;
    border-top: solid 2px #f1f2f3;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
    text-align: center;
}

.footer-content>p {
    color: white;
    font-family: "Ubuntu", sans-serif;
}

.footer-content>ul {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.footer-content>ul>li {
    list-style: none;
}

.footer-content>ul>li>a {
    color: white;
    text-decoration: none;
}

.footer-content>ul>li>a:hover {
    text-decoration: underline;
}

#logout-button {
    background-color: #e50914;
    color: white;
    border: solid 2px #e50914;
    padding: 1vh 1vw;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

#logout-button:hover {
    background: transparent;
}

#logout-button:active {
    scale: 0.95;
}

.card-wrapper,
.search-card-wrapper {
    margin-top: 8vh;
    display: flex;
    padding: 4vh 5vw;
    column-gap: 5vw;
    overflow-x: auto;
    border-radius: 20px;
    box-shadow: inset 0 -5px 3px -5px #f1f2f3;
}

.popular>.search.card-wrapper {
    box-shadow: inset 0 -5px 3px -5px #2f2f2f;
}

.card-wrapper::-webkit-scrollbar,
.search-card-wrapper::-webkit-scrollbar {
    display: none;
}

.card {
    width: 20vw;
    height: 68vh;
    padding: 4vh 2.5vw;
    border: solid #2f2f2f 1px;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgb(97, 97, 97);
    background-color: #2f2f2f;
    transition: 0.4s;
    user-select: none;
}

.card:hover {
    scale: 1.03;
}

.card:active {
    scale: 0.95;
}

.card>header {
    width: 15vw;
    height: 32%;
}

.card>header>h2 {
    font-weight: 600;
    color: #e50914;
}

.card>header>p {
    height: 20vh;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    line-height: 2.5vh;
    color: white;
    margin-top: 1vh;
}

.card>header>p>em {
    color: rgb(77, 77, 255);
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
}

.card>header>p>em:hover {
    color: rgb(49, 49, 255);
}

.card>img {
    width: 15vw;
    height: 60%;
    margin-top: 5vh;
    border-radius: 2px;
    box-shadow: 0 0 10px 1px white;
    -webkit-user-drag: none;
}

.popular>.card-wrapper>.card {
    background-color: #f1f2f3;
}

.popular>.card-wrapper>.card>header>p {
    color: #2f2f2f;
}

.popular>.card-wrapper>.card>img {
    box-shadow: 0 0 10px 2px #525252;
}

.fade-in {
    animation: fade-in 2s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width:1199px) {

    .card {
        width: 25vw;
    }

    .card>header {
        width: 20vw;
    }

    .card>img {
        width: 20vw;
    }

    .cards-container>header>p {
        width: 20vw;
    }
}

@media (max-width:991px) {
    .header-icon {
        width: 8%;
    }

    main>.search>div>form>input {
        width: 30vw;
    }

    .card {
        width: 30vw;
    }

    .card>header {
        width: 25vw;
    }

    .card>img {
        width: 25vw;
    }

    .cards-container>header>p {
        width: 25vw;
    }
}

@media (max-width:767px) {
    .header-icon {
        width: 10%;
    }

    main>.search>div>form>input {
        width: 35vw;
    }

    .card {
        width: 45vw;
    }

    .card>header {
        width: 40vw;
    }

    .card>img {
        width: 40vw;
    }

    .cards-container>header>p {
        width: 40vw;
    }
}

@media (max-width:576px) {
    .header-icon {
        width: 12%;
    }

    .main-header>nav>a {
        font-size: 16px;
    }

    main>.search>div>form>input {
        width: 40vw;
    }

    .card {
        width: 55vw;
    }

    .card>header {
        width: 50vw;
    }

    .card>img {
        width: 50vw;
    }

    .cards-container>header>p {
        width: 50vw;
    }
}

@media (max-width:480px) {
    .header-icon {
        width: 15%;
    }

    .main-header>nav>a {
        font-size: 12px;
    }

    main>.search>div>form>input {
        width: 50vw;
    }

    .card {
        width: 70vw;
    }

    .card>header {
        width: 65vw;
    }

    .card>img {
        width: 65vw;
    }

    .cards-container>header>p {
        width: 65vw;
    }
}